{% extends "base.html" %}

{% block title %}
CafeBabe
{% endblock %}

{% block body %}

<div class="container" style="padding-top:50px;padding-bottom:150px;">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 style="font-size:70px;">4 0 4</h1>
			<h1 style="font-size:60px;padding-bottom:50px;">NOT FOUND!!!</h1>
			
			<img src="http://7xlen8.com1.z0.glb.clouddn.com/404.jpg" style="display:block" class="col-md-offset-3 col-md-6">
			<div class="col-md-12" style="padding-top:40px;">
			<a href="/" class="btn btn-embossed btn-primary">回主页<span class=" glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
			</div>
		</div>
	</div>
</div>

{% endblock %}